
.dashbord-text {

    margin: 30px 0;
}

.dashbord-text h1{

    text-transform: uppercase;
    color: #F1D4D4;
    font-family: 'Montserrat', sans-serif;

}

.dashboard-wishtitle h3{

    text-transform: uppercase;
    color: #F1D4D4;
    font-family: 'Montserrat', sans-serif;

}

.wish-button{
    display: flex;

    flex-direction: row;
}

.wish-list-card{
    margin: 20px 0;
}

.wish-list-main h4{
    text-transform: uppercase;
    color:  #6A097D;
    text-align: center;
}

.wish-list-main {
    border-radius: 9px;
    padding: 10px;
    width: 260px;
    background-color: #F1D4D4;
    margin: 5px 0;
}