
.dashbord-text {

    margin: 30px 0;
}

.dashbord-text h1{

    text-transform: uppercase;
    color: #F1D4D4;
    font-family: 'Montserrat', sans-serif;

}

.dashboard-wishtitle h3{

    text-transform: uppercase;
    color: #F1D4D4;
    font-family: 'Montserrat', sans-serif;

}