
.card-box1{
    width: 300px;
    height: 530px;
    
    background-color: #F1D4D4;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    flex-direction: column;
    position: relative;
}

.card-Name{
    position: absolute;

    top: 10%;
}

.card-Name h6{

    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
color: #6A097D;
}